.local
.ipynb_checkpoints
*/.ipynb_checkpoints/*
profile_default/
ipython_config.py
.cache/
.jupyter/
module/dist/*
module/build/*
output_data/
.bash_history
.vscode/
module/collageradiomics.egg-info/*
module/docs/build/*
module/docs/source/_build/*
.idea/*
__pycache__
env_*
