[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scikit-build = "*"
scikit-image = "*"
mahotas = "*"
scipy = "*"
jupyter = "*"
SimpleITK = "*"

[dev-packages]

[requires]
python_version = "3.8"
