contourpy==1.0.7
cycler==0.11.0
distro==1.8.0
fonttools==4.38.0
imageio==2.25.1
joblib==1.2.0
kiwisolver==1.4.4
mahotas==1.4.13
matplotlib==3.6.3
networkx==3.0
nibabel==5.0.1
numpy==1.24.1
packaging==23.0
Pillow==9.4.0
pyparsing==3.0.9
python-dateutil==2.8.2
PyWavelets==1.4.1
scikit-build==0.16.6
scikit-image==0.19.3
scikit-learn==1.2.1
scipy==1.10.0
six==1.16.0
threadpoolctl==3.1.0
tifffile==2023.2.3
